<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Cucumber Filip Tests">
    <test name = "Cucumber Filip Tests" thread-count="1" parallel = "tests" junit="true">
        <classes>
            <class name="com.filip.worklearning.runner.TestRunner" />
        </classes>
    </test>
</suite>
